In [13]:
# using Yahoo Finance API
import requests
import matplotlib as mpl
import numpy as np
import json
from yahoo_fin import stock_info as SI
import datetime
import pandas as pd

In [14]:
#Loading API Key
kaggle_api_file = open("kaggle.json")
kaggle_api_info = json.load(kaggle_api_file)
print(kaggle_api_info)

{'username': 'talhajamal11', 'key': 'a17cee0d31fdeffea0f7c4c165f5a75a'}

In [15]:
url = 'https://www.kaggle.com/datasets/andrewmvd/sp-500-stocks?resource=download&select=sp500_stocks.csv'
url = url[url.find('andrewmvd') :]
url = url[:url.find('?resource')]
print(url)

andrewmvd/sp-500-stocks

In [16]:
#This library allows you to run a shell command through a python code
#Downloading data from kaggle
import subprocess
p = subprocess.Popen("kaggle datasets download andrewmvd/sp-500-stocks --unzip", stdout=subprocess.PIPE, shell=True)
print(p.communicate())

100%|██████████| 38.0M/38.0M [00:10<00:00, 3.80MB/s]

(b'Downloading sp-500-stocks.zip to /Users/talhajamal/Documents/Coding Practice/Quant Projects/Python/SP500 Analysis\n\n', None)

In [17]:
Stocks = pd.read_csv('sp500_stocks.csv', index_col='Date', parse_dates = True)
Stocks.info()

Companies = pd.read_csv('sp500_companies.csv', index_col='Symbol')
Companies.info()

SP500_Index = pd.read_csv('sp500_index.csv', index_col = 'Date', parse_dates = True)
SP500_Index.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1615133 entries, 2009-12-31 to 2022-09-26
Data columns (total 7 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Symbol     1615133 non-null  object
 1   Adj Close  1542184 non-null  float64
 2   Close      1542184 non-null  float64
 3   High       1542184 non-null  float64
 4   Low        1542184 non-null  float64
 5   Open       1542184 non-null  float64
 6   Volume     1542184 non-null  float64
dtypes: float64(6), object(1)
memory usage: 98.6+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 493 entries, AAPL to VNO
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Exchange             493 non-null    object
 1   Shortname            493 non-null    object
 2   Longname             493 non-null    object
 3   Sector               493 non-null    object
 4   Industry             493 non-null    object
 5   Currentprice         493 non-null    float64
 6   Marketcap            493 non-null    int64
 7   Ebitda               463 non-null    float64
 8   Revenuegrowth        492 non-null    float64
 9   City                 493 non-null    object
 10  State                474 non-null    object
 11  Country              493 non-null    object
 12  Fulltimeemployees    486 non-null    float64
 13  Longbusinesssummary  493 non-null    object
 14  Weight               493 non-null    float64
dtypes: float64(5), int64(1), object(9)
memory usage: 61.6+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2515 entries, 2012-09-27 to 2022-09-26
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   S&P500  2515 non-null   float64
dtypes: float64(1)
memory usage: 39.3 KB

In [18]:
Stocks

,Symbol,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,,
2009-12-31,MMM,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-04,MMM,59.318886,83.019997,83.449997,82.669998,83.089996,3043700.0
2010-01-05,MMM,58.947342,82.500000,83.230003,81.699997,82.800003,2847000.0
2010-01-06,MMM,59.783295,83.669998,84.599998,83.510002,83.879997,5268500.0
2010-01-07,MMM,59.826176,83.730003,83.760002,82.120003,83.320000,4470100.0
...,...,...,...,...,...,...,...
2022-09-20,ZTS,152.940002,152.940002,155.990005,151.750000,155.440002,1991000.0
2022-09-21,ZTS,151.240005,151.240005,155.809998,150.869995,153.339996,1554900.0
2022-09-22,ZTS,149.460007,149.460007,151.490005,148.960007,150.100006,1937300.0
2022-09-23,ZTS,150.050003,150.050003,150.460007,147.860001,148.899994,1626200.0
2022-09-26,ZTS,148.600006,148.600006,151.389999,148.289993,149.750000,1631100.0

In [19]:
Companies

,Exchange,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
Symbol,,,,,,,,,,,,,,,
AAPL,NMS,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,150.77,2473592881152,1.295570e+11,0.019,Cupertino,CA,United States,154000.0,"Apple Inc. designs, manufactures, and markets ...",0.085286
MSFT,NMS,Microsoft Corporation,Microsoft Corporation,Technology,Software—Infrastructure,237.45,1782769778688,9.798300e+10,0.124,Redmond,WA,United States,221000.0,"Microsoft Corporation develops, licenses, and ...",0.061468
BRK-B,NYQ,Berkshire Hathaway Inc. New,Berkshire Hathaway Inc.,Financial Services,Insurance—Diversified,264.32,591883862016,1.177540e+11,0.096,Omaha,NE,United States,372000.0,"Berkshire Hathaway Inc., through its subsidiar...",0.020407
UNH,NYQ,UnitedHealth Group Incorporated,UnitedHealth Group Incorporated,Healthcare,Healthcare Plans,508.36,478799364096,2.756900e+10,0.126,Minnetonka,MN,United States,350000.0,UnitedHealth Group Incorporated operates as a ...,0.016508
JNJ,NYQ,Johnson & Johnson,Johnson & Johnson,Healthcare,Drug Manufacturers—General,165.70,436221837312,3.238200e+10,0.030,New Brunswick,NJ,United States,141700.0,"Johnson & Johnson, together with its subsidiar...",0.015040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MHK,NYQ,"Mohawk Industries, Inc.","Mohawk Industries, Inc.",Consumer Cyclical,"Furnishings, Fixtures & Appliances",89.41,6055953920,1.888004e+09,0.067,Calhoun,GA,United States,43000.0,"Mohawk Industries, Inc. designs, manufactures,...",0.000209
DXC,NYQ,DXC Technology Company,DXC Technology Company,Technology,Information Technology Services,23.57,5945273344,3.064000e+09,-0.086,Ashburn,VA,United States,130000.0,"DXC Technology Company, together with its subs...",0.000205
NCLH,NYQ,Norwegian Cruise Line Holdings,Norwegian Cruise Line Holdings Ltd.,Consumer Cyclical,Travel Services,13.39,5582183936,-1.899968e+09,167.368,Miami,FL,United States,34700.0,"Norwegian Cruise Line Holdings Ltd., together ...",0.000192
ALK,NYQ,"Alaska Air Group, Inc.","Alaska Air Group, Inc.",Industrials,Airlines,38.81,4919749632,8.920000e+08,0.741,Seattle,WA,United States,22092.0,"Alaska Air Group, Inc., through its subsidiari...",0.000170
VNO,NYQ,Vornado Realty Trust,Vornado Realty Trust,Real Estate,REIT—Office,23.33,4471917568,8.103430e+08,0.163,New York,NY,United States,3224.0,Vornado's portfolio is concentrated in the nat...,0.000154

In [20]:
SP500_Index

             S&P500
Date
2012-09-27  1447.15
2012-09-28  1440.67
2012-10-01  1444.49
2012-10-02  1445.75
2012-10-03  1450.99
...             ...
2022-09-20  3855.93
2022-09-21  3789.93
2022-09-22  3757.99
2022-09-23  3693.23
2022-09-26  3655.04

[2515 rows x 1 columns]